<h1>Bonjour! Veuillez confirmer votre E-mail</h1>

<p>
    En cliquant sur ce lien : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien va expirer dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    À très vite!
</p>
