{% extends 'base.html.twig' %}

{% block title %}réinitialisation du mot de passe{% endblock %}

{% block body %}

<main class="container-fluid anonymous-pro-bold mainReset">
    <h1>réinitialisation du mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <div class="text-end">
        <button class="btn ButtonClass">réinitialiser le mot de passe</button>
        </div>
    {{ form_end(resetForm) }}

</main>
{% endblock %}
