{% extends 'base.html.twig' %}
{% block title %}Catégories{% endblock %}
{% block body %}

<main class="container">
    {% for categorie in categories %}
    <div class="category-card-in">
        {% if categorie.imagePreview %}
                        <img src="{{ asset('pictures/' ~ categorie.imagePreview) }}"
                             alt="{{ categorie.libelle }}"
                             class="rounded-3 mb-3 imagePreview">
        {% endif %}
                        <a href="{{ path('app_categorie', {slug: categorie.slug}) }}" 
                        class="btn ButtonClass anonymous-pro-bold mt-2 float-end">
                            Shop
                        </a>
                    </div>
                </div>
            {% else %}
            <p class="text-center text-muted">Aucune catégorie disponible 😢</p>
    {% endfor %}   
    </div>
</main>

{% endblock %}