{% extends 'base.html.twig' %}
{% block title %}Catégories{% endblock %}
{% block body %}

<main class="container">
    {% for categorie in categories %}
    <div class="category-card-in">
        {% if categorie.image %}
        <img class="m-5 CatHeading" src="/pictures/Accessories.svg" alt="Accessoires">
           {% endif %}
                        <p class="anonymous-pro-bold">{{ categorie.libelle }}</p>
                        <a href="{{ path('app_categorie', {slug: categorie.slug}) }}" 
                        class="btn ButtonClass anonymous-pro-bold mt-2">
                            See more
                        </a>
                    </div>
                </div>
            {% else %}
            <p class="text-center text-muted">Aucune catégorie disponible 😢</p>
    {% endfor %}   
    </div>
</main>

{% endblock %}