{% extends 'base.html.twig' %}
{% block title %}wearable{% endblock %}
{% block body %}

<main class="container my-5">

    <img class="rounded mx-auto d-block my-5" src="/pictures/WearableSecondary.svg" alt="Wearable">

    <div class="row justify-content-center">
        <div class="category-card-in p-3 text-center col-4 col-sm-6 col-xs-12" style="width: 18rem;">
                    <p class="anonymous-pro-regular">Article trop bien à mettre ici</p>
                    <a href="{{ path('app_details') }}" class="btn ButtonClass anonymous-pro-bold">Détails</a>
        </div>
        <div class="category-card-in p-3 text-center col-4 col-sm-6 col-xs-12" style="width: 18rem;">
                    <p class="anonymous-pro-regular">Article trop bien à mettre ici</p>
                    <a href="{{ path('app_details') }}" class="btn ButtonClass anonymous-pro-bold">Détails</a>
        </div>
        <div class="category-card-in p-3 text-center col-4 col-sm-6 col-xs-12" style="width: 18rem;">
                    <p class="anonymous-pro-regular">Article trop bien à mettre ici</p>
                    <a href="{{ path('app_details') }}" class="btn ButtonClass anonymous-pro-bold">Détails</a>
        </div>
        <div class="category-card-in p-3 text-center col-4 col-sm-6 col-xs-12" style="width: 18rem;">
                    <p class="anonymous-pro-regular">Article trop bien à mettre ici</p>
                    <a href="{{ path('app_details') }}" class="btn ButtonClass anonymous-pro-bold">Détails</a>
        </div>
 <!--   <div class="category-card">
        <img class="m-5 CatHeading" src="/pictures/Accessories.svg" alt="Accessoires">
            <p class="anonymous-pro-bold">Titre dingue</p><br>
            <p class="anonymous-pro-regular">Description blabla voila et tout</p>
            <div class="text-end">
                <a href="#" class="btn ButtonClass anonymous-pro-bold px-5 py-3">See More</a>
            </div>
    </div> -->  
    </div> 
</main>

{% endblock %}